
.cards-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 140px;
}
.card-container {
    width: 21.2%;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px;
    cursor: pointer;
}
/* .card-container:nth-child(4n) {
    margin-right: 0;
} */
/* .card-container:nth-child(5n) {
    margin-left: 0;
}
.card-container:first-child {
    margin-left: 0;
} */
.card-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card-img-container img {
    width: 100%;
    max-height: 200px;
}
.card-container:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.card-product-detail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    height: 50%;
    padding: 15px 0px;
}
.product-price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.product-price-row p{
    margin: 0;
}
.addBtn {
    border:unset;
    background-color: black;
    color: #fff;
    outline: none;
    padding: 10px;
}
.addBtn:hover {
    background-color: #1d1a1aa8;
    color: #fff;
}